<% content_for :show do %>

<h2><%= @shelf.name %></h2>
    <% if @shelf.user == current_user %>
        <%= link_to "edit shelf", edit_user_shelf_path(@shelf.user, @shelf) %>
        <%= link_to "delete shelf", shelf_path(@shelf, user_id: @shelf.user.id), method: :delete %>
    <% end %>


    <% @shelf.books.each do |book|%>

    <%= render partial: "books/book", locals: {book: book} %>
    <%= button_to "Remove", book_path(book.isbn), params: {shelf_id: @shelf.id}, method: :delete %>
    <hr>

    <% end %>
<% end%>