<%= @user.name %> 

<div><%= link_to 'Create New Shelf', new_user_shelf_path(@user) if @user == current_user %></div>

<div><%= link_to 'Create New Reading Room', new_reading_room_path if @user == current_user %></div>

<div>

<div>
<h5>Reading Rooms</h5>

<% @user.reading_rooms.uniq.each do |room| %>
   <%= link_to room.name, reading_room_path(room) %> |
<% end %>

</div>

<%= render partial: "shared/show_shelves", locals: {user: @user} %>



