<img src="<%=@display_book.image_link%>" >
<p><%= @display_book.title %></p>
<p><%= authors_display %></p>
<p><%= @display_book.description %></p>
<p><%= @display_book.average_rating %></p>

<%= check_shelves %>
