

<div class="container px-lg-5">
    <div class="row mx-lg-n5">
        <div class="col-md py-3 px-lg-5 bg-light">
            <h2><%= @display_book.title %></h2>
            <% @authors.each do |author| %>
            <p><%= link_to author.name, author_path(author) %></p>
            <% end %>

            <p><%= @display_book.description %></p>
            <p><%= @display_book.average_rating %></p>

        </div>

        <div class="col-sm">
            <img src="<%=@display_book.image_link%>" >
        </div>
    </div>

    <%= check_shelves %>

</div>
