<%= form_with model: post do |f| %>
  

    <% post.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>

<%= f.hidden_field :user_id %>
<%= f.hidden_field :reading_room_id %>
  
  <div>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.submit %>
  </div>


<% end %>
