<h2><%= @room.name %></h2>
<h4><%= @room.description %></h4>

<%= link_to "New Post",  new_reading_room_post_path(@room.id) if user_signed_in? %>

<div>
<h5>Active Users:</h5>

<% @room.users.uniq.each do |user| %>
    <%= link_to user.name, user_path(user) %>
<% end %>
</div>


<div>
<% if @room.posts.length > 1 %>
<% @room.posts.each do |post| %>
<div>
<%= link_to post.user.name, user_path(post.user) %> - <%= post.content %> <%= link_to "edit", edit_post_path(post) if post.user == current_user%> <%= link_to "delete", post_path(post), method: :delete if post.user == current_user%>
</div>
<% end %>
<% end %>
</div>

<%= render partial: "posts/form", locals: {reading_room: @room, post: @post}%>