<h2><%= @room.name %></h2>
<h4><%= @room.description %></h4>

<%= link_to "New Post",  new_reading_room_post_path(@room.id) if user_signed_in? %>

<div>
<h5>Active Users:</h5>

<% @room.users.each do |user| %>
    <%= user.email %>
<% end %>
</div>


<div>
<% if @room.posts.length > 1 %>
<% @room.posts.each do |post| %>
<%= link_to post.user.email, user_path(post.user) %> - <%= post.content %> 
<% end %>
<% end %>
</div>