<% content_for :show do %>
<h2><%= @room.name %></h2>
<h4><%= @room.description %></h4>
<hr>



<div>
<h5>Active Users:</h5>

<% @room.users.uniq.each do |user| %>
    <%= link_to user.name, user_path(user) %>
<% end %>
<hr>
</div>


<div>
<% if @room.posts.length > 1 %>
<% @room.posts.each do |post| %>
<div>
<%= link_to post.user.name, user_path(post.user) %> - <%= post.content %> <%= link_to "edit", edit_reading_room_post_path(@room.id, post.id, user_id: post.user.id) if post.user == current_user%> <%= link_to "delete", post_path(post, reading_room_id: @room.id), method: :delete if post.user == current_user%>
</div>
<% end %>
<% end %>
</div>

<% if user_signed_in? %>
<%= flash[:alert]%>
<%= render partial: "posts/form", locals: {reading_room: @room, post: @post}%>
<% end %>
<% end %>