<!DOCTYPE html>
<html>
  <head>
    <title>Shelvd</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render 'shared/navbar' %>
  
  <body>


    <%= yield %>


  <div class="container px-lg-5">
    <div class="row mx-lg-n5">
        <div class="col-lg py-3 px-lg-5 bg-light">

        <%= yield :show %>

        </div>
    </div>
</div>


  <%= yield :shelf %>


    
  </body>
</html>
